
       {% extends "partials/layout.njk"%}
    {% block title %} age hanna{% endblock %}
     {% block content %}
    <h1> Cricle <sup>mi ladi</sup></h1>
            <form method="POST">
                    <p>
                        <label>
                            Radius <br>
                            <input type="number" placeholder="Radius" name="radius">
                        </label>
                    </p>
                    <p>
                        <input type="submit"value="send">
                    </p>
            </form>
    {% endblock %}