    {% extends "partials/layout.njk"%}
    {% block title %} add{% endblock %}
     {% block content %}
    <form action="/movies/edit/{{movie.id}}" method="POST">
        <input type="text" placeholder="movie name" name= "movie" value="{{movie.name}}">
        <input type="number" placeholder="movie year" name= "year" value="{{movie.year}}">
        <textarea name="description" placeholder="Movie description">{{movie.description}}</textarea>
        <input type="submit" value = "update">
    </form>
    {% endblock %}