
    {% extends "partials/layout.njk"%}
    {% block title %} movies{% endblock %}
     {% block content %}
     <style>
        table, th, td{
        border: 1px solid black
        }
     </style>
    <a href="/movies/add">ADD</a>
    <table >
        <thead>
            <th>ID</th>
            <th>name</th>
            <th>year</th>
            <th>description</th>
            <th>actions</th>
        </thead>
        <tbody style= "border: 1px solid black">
            {% for movie in movies%}
            <tr>
                <td>{{movie.id}}</td>
                <td>{{movie.name}}</td>
                <td>{{movie.year}}</td>
                <td>{{movie.description}}</td>
                <td>
                    <a href="/movies/view?id={{movie.id}}">view</a>
                    <a href="/movies/edit/{{movie.id}}">edit</a>
                    <a href="/movies/delete/{{movie.id}}">delete</a>
                    </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    {% endblock %}
